/*
 
 P är projekt
 H är HTML

*/

/*
##############
# ALLMÄN CSS #
##############
*/
@media screen and (min-width: 0px){

* {
    box-sizing: border-box ; 
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url(../IMG/kod.jpg);
    background-size: cover; 
    width: 100vw;
    max-width: 100%;
}

h1 {
    grid-area: H1TITL;
    justify-self: center;
    color: aqua;
} 

.text {
    padding: 10px;
    font-size: large;
}

}

 /* 
 Koden till naven 
 */
 @media screen and (min-width: 0px){
nav {
    background-color: rgb(99, 99, 99);
    position: fixed;
    top: 11.5px;
    right: 11.5px;
    width: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dropdown Button */
.dropbtn {
    background-color: rgb(0, 97, 153);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 77px;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: rgb(3, 107, 192);
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 77px;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(221, 221, 221)}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;} 

}

/*
##########################
# TEST SIDANS CSS #
##########################
*/ 



/*
############################################
# PROJEKT SIDANS CSS I @media:AN UDNER HÄR #
############################################
*/
@media screen and (min-width: 0px){

/*sådant som gäller "Projektsidan"*/
#P-Back-Wrapper {
    width: 100vw;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "P-DONE"
    "P-CURRENT"
    "P-FUTURE"
    ;
}

.P-Status-Wrapper {
    display: grid;
    margin: 10px;
    background-color: whitesmoke;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr ;
}
/*de olika typerna av status. Säger enbart vilken position de har i en grid.*/
#P-DONE{grid-area: P-DONE;}
#P-CURRENT{grid-area: P-CURRENT;}
#P-FUTURE{grid-area: P-FUTURE;}

.P-PROJEKT {
    margin: 5px;
    background-color: tomato;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
}

#HTML{
    grid-template-areas:
    "P-TEXT1 P-BILD1";}
#NADA{
    grid-template-areas:
    "P-TEXT2 P-BILD2";}
#RUTA3{
    grid-template-areas:
    "P-TEXT3 P-BILD3";}
#RUTA4{
    grid-template-areas:
    "P-TEXT4 P-BILD4";}
#RUTA5{
    grid-template-areas:
    "P-TEXT5 P-BILD5";}
#RUTA6{
    grid-template-areas:
    "P-TEXT6 P-BILD6";}

/*saker som sker alla bilder. + id för att få specifika gridarea*/
.P-TEXT {
    text-decoration: turquoise;
    display: flex;
}
#P-TEXT1{grid-area: P-TEXT1;}
#P-TEXT2{grid-area: P-TEXT2;}
#P-TEXT3{grid-area: P-TEXT3;}
#P-TEXT4{grid-area: P-TEXT4;}
#P-TEXT5{grid-area: P-TEXT5;}
#P-TEXT6{grid-area: P-TEXT6;}

/*saker som sker alla bilder på projektsidan + id för induviduella bilder så de får en specefik gridarea*/
.P-BILD {
    margin: 5px;
}
#P-BILD1{grid-area: P-BILD1;}
#P-BILD2{grid-area: P-BILD2;}
#P-BILD3{grid-area: P-BILD3;}
#P-BILD4{grid-area: P-BILD4;}
#P-BILD5{grid-area: P-BILD5;}
#P-BILD6{grid-area: P-BILD6;}

}






#P-flex_back {
    display: flex;
    margin-right: 100px;
    margin-left: 100px;
    background-color: aqua;
    padding: 100px;
    height: 200vh;
    
    
}




/*
#########################################
# HTML SIDANS CSS I @media:AN UDNER HÄR #
#########################################
*/
@media screen and (min-width: 0px){

#H-Back-Wrapper {
    background-color: none;
    width: 100vw;
    max-width: 100%;
    display: grid;
    height: 200vh;
    grid-template-columns: 1fr;
    grid-template-rows: 77px 1fr 100px 1fr 1fr;
    grid-template-areas: 
    "H1TITL"
    "H-TXT1"
    "H-BILD"
    "H-TXT2"
    "H-TXT3"
    ;

}

#H-Text1{grid-area: H-TXT1;
background-color: rgb(133, 133, 133);}
#H-Text2{grid-area: H-TXT2;
background-color: rgb(133, 133, 133);}
#H-Text3{grid-area: H-TXT3;
background-color: rgb(133, 133, 133);
padding: 20px;}
#H-Bild{grid-area: H-BILD;
background-color: rgb(133, 133, 133);
width: 100%;
justify-self: center;
padding: 10px;}


}

/* 
#########################
# ANPASSNING TILL DATOR #
#########################
*/

@media screen and (min-width: 800px) {

    #P-DONE {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "HTML NADA"
        ;
    }
    #P-CURRENT {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr  ;
        grid-template-areas: 
        "RUTA3 RUTA4"
        ;

    }
    #P-FUTURE {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr  ;
        grid-template-areas: 
        "RUTA5 RUTA6"
        ;

    }

    #H-Back-Wrapper {
        grid-template-columns: 21fr 13fr;
        grid-template-rows: 77px 1fr 1fr 1fr;
        grid-template-areas: 
        "H1TITL H1TITL"
        "H-TXT1 H-TXT1"
        "H-TXT2 H-BILD"
        "H-TXT2 H-TXT3"
        ;
        padding-left: 100px;
        padding-right: 100px;

    }

}

